@import url('https://api.fontshare.com/v2/css?f[]=satoshi@700,500,400&display=swap');

@import 'tailwindcss';
@plugin '@tailwindcss/typography';

@custom-variant dark (&:where(.dark, .dark *));

:root {
    --text-main: #171717;
    --bg-main: #f2f1ec;
    --bg-muted: #eae9e1;
    --border-main: #171717;
}
html.dark {
    --text-main: #f2f1ec;
    --bg-main: #171717;
    --bg-muted: #242424;
    --border-main: #f2f1ec;
}

@theme {
    --font-sans: 'Satoshi', sans-serif;
    --font-serif: 'Satoshi', sans-serif;

    --color-main: var(--text-main);
    --color-main-bg: var(--bg-main);
    --color-main-muted: var(--bg-muted);
    --color-main-border: var(--border-main);
}

@layer utilities {
    .animate-marquee {
        animation: marquee 25s linear infinite;
    }
    .animate-marquee-reverse {
        animation: marquee-reverse 25s linear infinite;
    }
    .pause-animation {
        animation-play-state: paused;
    }
    .mask-fade-edges {
        mask-image: linear-gradient(to right, transparent, black 15%, black 85%, transparent);
        -webkit-mask-image: linear-gradient(to right, transparent, black 15%, black 85%, transparent);
    }

    @keyframes marquee {
        0% { transform: translateX(0); }
        100% { transform: translateX(-50%); }
    }
    @keyframes marquee-reverse {
        0% { transform: translateX(-50%); }
        100% { transform: translateX(0); }
    }

    .prose {
        --tw-prose-body: var(--text-color-main);
        --tw-prose-headings: var(--text-color-main);
        --tw-prose-lead: var(--text-color-main);
        --tw-prose-links: var(--text-color-main);
        --tw-prose-bold: var(--text-color-main);
        --tw-prose-counters: var(--text-color-main);
        --tw-prose-bullets: var(--text-color-main);
        --tw-prose-hr: var(--border-color-main);
        --tw-prose-quotes: var(--text-color-main);
        --tw-prose-quote-borders: var(--border-color-main);
        --tw-prose-captions: var(--text-color-main);
        --tw-prose-kbd: var(--text-color-main);
        --tw-prose-code: var(--text-color-main);
        --tw-prose-th-borders: var(--border-color-main);
        --tw-prose-td-borders: var(--border-color-main);
    }

    .prose a {
        @apply underline font-normal decoration-1 underline-offset-2 decoration-dashed hover:decoration-solid;
    }

    .prose :where(h1, h2, h3, h4, h5, h6) {
        @apply font-bold;
    }

    .prose :where(code, strong) {
        @apply font-medium;
    }

    .prose blockquote {
        @apply font-medium italic border-none pl-0 text-[1.375em] leading-snug sm:text-[1.66667em];
    }
}

/* Base Body Weight */
body {
    font-weight: 400;
}

/* Nav & Heading Weights */
nav, h1, h2, h3, h4, h5, h6 {
    @apply font-medium;
}

h1, h2 {
    @apply font-bold;
}
