---
import { getCollection } from 'astro:content';
import Button from '../components/Button.astro';
import Hero from '../components/Hero.astro';
import TechStack from '../components/TechStack.astro';
import PostPreview from '../components/PostPreview.astro';
import ProjectPreview from '../components/ProjectPreview.astro';
import GithubContributions from '../components/GithubContributions.astro';
import siteConfig from '../data/site-config';
import BaseLayout from '../layouts/BaseLayout.astro';
import { sortItemsByDateDesc } from '../utils/data-utils';

const posts = (await getCollection('blog')).sort(sortItemsByDateDesc);
const featuredPosts = posts.filter(({ data }) => data.isFeatured);

const projects = (await getCollection('projects')).sort(sortItemsByDateDesc);
const featuredProjects = projects.filter(({ data }) => data.isFeatured);
---

<BaseLayout description={siteConfig.description}>
    <Hero {...siteConfig.hero} />
    {siteConfig.stack && <TechStack {...siteConfig.stack} />}
    {siteConfig.github && <GithubContributions username={siteConfig.github} />}
    <div class="mb-16 sm:mb-24">
        <h2 class="mb-12 font-serif text-xl italic sm:mb-16 sm:text-2xl">Projects</h2>
        <p class="text-main/80 opacity-80 italic">Projects will be updated soon.</p>
    </div>
    <div class="mb-16 sm:mb-24">
        <h2 class="mb-12 font-serif text-xl italic sm:mb-16 sm:text-2xl">Writing</h2>
        <p class="text-main/80 opacity-80 italic">Writing will be updated soon.</p>
    </div>
</BaseLayout>
